<?xml version="1.0"?>
<model>
    <name>Arm model</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>

    <author>
        <name>Betsegaw Gizaw</name>
        <email>betsegaw0001@gmail.com</email>
    </author>

    <description>
    Rotics assignment three arm model 
  </description>
</model>