<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find three_arm_gazebo)/src/worlds/empty_world.world"/>
    <arg name="verbose" value="true" />
  </include>
  <node name="arm_sdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find three_arm_gazebo)src/models/arm_model/model.sdf -sdf -model arm">
  </node>
</launch>